

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #1f2937;
    color: white;
}
h3{
    align-self: center;
    font-size: 25px;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
}
ul{
    margin: 0;
    padding: 10px;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 16px;
}
a{
    text-decoration: none;
    color: white;
}
.section1{
    background-color: #1f2937;
    color: white; 
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.content{
    width:50%;
    height:0;
    margin: 60px 25px 0 25px;
}
.image{
    width: 80%;
    height: 40vh;
    background-color: #374151;
    text-align: center;margin: auto;
}
h2{
    text-align: center;
    margin: 20px;
    font-size: 35px;
}
.section2{
    display: flex;
    flex-direction: column;
}
.cards{
    display: flex;
    justify-content: space-around;
    gap: 16px;
    
}
.card{
    align-self: center;
    text-align: center;
   
}
.box{
    max-width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
}
